* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:root {
  --fb-blue: rgb(26, 115, 228);
  --fb-darkGrey: rgb(100, 103, 107);
  --fb-lightGrey: rgb(239, 242, 245);
  --fb-grey-text: rgb(100, 103, 107);
  --fb-grey-hover: rgb(214, 215, 216);
}

html {
  background-color: var(--fb-lightGrey);
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
}

.main-container {
  height: 90%;

  display: flex;
  align-items: stretch;
}

/* Sub Containers For Main Content */
.main-container-leftBar {
  flex: 1.25;
  /* Test */
  /* outline: auto; */
}

.main-container-content {
  flex: 3;

  /* Test */
  /* outline: auto; */
}

.main-container-rightBar {
  flex: 1.25;
  /* Test */
  /* outline: auto; */
  display: flex;
}

@media (max-width: 700px) {
  .main-container-leftBar {
    display: none;
  }
}

@media (max-width: 1000px) {
  .main-container-rightBar {
    display: none;
  }
}
