.LeftSideBar {
  font-size: calc(15px + 0.3vw);
}

.leftSideBar-nav {
  max-width: 300px;

  margin-top: 25px;
  padding-left: 10px;

  display: flex;
  flex-direction: column;

  gap: 5px;
}

.leftSideBar-nav-item {
  list-style: none;
  cursor: pointer;
  text-decoration: none;

  padding: 10px;
  border-radius: 15px;

  display: flex;
  align-items: center;
}

.leftSideBar-nav-item:hover {
  background-color: var(--fb-grey-hover);
}

.nav-item-iconHolder.icon img {
  width: 30px;
  height: auto;

  border-radius: 50%;
  border: solid 1px rgba(99, 99, 99, 0.2);
}

.nav-item-iconHolder {
  display: block;
  width: 50px;
  min-width: 50px;
  font-size: 22px;
}
.nav-item-iconHolder.fb-blue {
  color: var(--fb-blue);
}
.nav-item-iconHolder.fb-lightBlue {
  color: rgb(53, 183, 219);
}
.nav-item-iconHolder.fb-purple {
  color: rgb(195, 49, 175);
}
.nav-item-iconHolder.fb-orange {
  color: rgb(230, 78, 41);
}
.nav-item-iconHolder.fb-red {
  color: rgb(237, 59, 90);
}
