.Home {
  height: fit-content;
  main {
    height: 90%;

    display: flex;
    align-items: stretch;
    .leftBar {
      height: 100%;
      position: sticky;
      top: 0;
      flex: 1.25;
    }
    .mainContent {
      flex: 3;
    }
    .rightBar {
      height: 100%;
      position: sticky;
      top: 0;
      flex: 1.25;
      display: flex;
    }
  }
}

@media (max-width: 700px) {
  .leftBar {
    display: none;
  }
}

@media (max-width: 1000px) {
  .Home {
    main {
      .rightBar {
        display: none;
      }
    }
  }
}
