@import url("./homeComponents/CreatePost.css");
@import url("./homeComponents/MainContent.css");
@import url("./homeComponents/Post.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:root {
  --fb-blue: rgb(26, 115, 228);
  --fb-darkGrey: rgb(100, 103, 107);
  --fb-lightGrey: rgb(239, 242, 245);
  --fb-grey-text: rgb(100, 103, 107);
  --fb-grey-hover: rgb(214, 215, 216);
}

a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

html {
  background-color: var(--fb-lightGrey);
}

button {
  color: black;
}

#root {
  height: 100vh;
}